<div>
  <div>
    <h3><a href="/">Presenter</a></h3>
  </div>
  <% if(validates.length > 0) { %>
    <% validates.forEach(validate => { %>
      <div></span><span><%= validate.message %></span></div>
    <% }); %>
  <% } %>
  <div>
    <span><%= message %></span>
  </div>
  <form action="/auth/register" method="POST">
    <div>
      <label>Fullname:</label>
      <input type="text" name="fullName" placeholder="Type your fullname in here...">
    </div>
    <div>
      <label>Email:</label>
      <input type="email" name="email" placeholder="Type your email in here...">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" placeholder="Type your password in here...">
    </div>
    <div>
      <button type="submit">Register</button>
      <a href="/auth/">already have an account?</a>
    </div>
  </form>
</div>