<div>
  <span><%= message %></span>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus hic ad dolor quibusdam amet veritatis blanditiis animi! Odio rerum facere accusamus aut fuga deserunt, a accusantium officiis itaque ipsum doloremque esse non, ullam blanditiis dolorum nisi dicta aliquid vel reprehenderit fugiat laudantium laborum dolores saepe error! Optio iusto consectetur numquam sint fuga nesciunt ad mollitia rerum dolorem odit! Eos explicabo exercitationem reprehenderit! Deserunt saepe sit quos officia obcaecati, qui cupiditate cum iure dolor suscipit vitae distinctio, sed voluptatum porro ullam molestiae aut hic ipsa delectus voluptas. Aliquam facere provident officia. Placeat quis voluptatibus soluta vero, tempore delectus deleniti amet reiciendis?</p>
</div>